.picture_body_popup {
    display: flex;
    justify-content: center;
}
    .image_body_popup {
        max-width:70%
    }
    .title-body-content {
        margin-top: 25px;
    }


.about-me, .about-me-content {
    margin-top: 20px;
}
    .description-about-me {
        font-size: 18px;
    }