.p_design {
    position: absolute;
    font-size: 14px;
    top: 65px;
    color: #fefefe;
}

.design-image {
    width: 40px;
}

.cards-content {
    margin: 0px 20px;
}

.card-body {
    padding-top: 1.5rem;
}
    .card-content {
        margin: 15px 0px;
    }
    .card-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
        .card-image {
            width: 75%;
            height: 80%;
        }
        .card-logo {
            width: 200px;
        }
        .card-illustr {
            width: 200px;
            transform: rotate(30deg);
        }

.card-container {
    display: flex;
}

.card-picture-logo {
    display: flex;
    justify-content: space-around;
}