

.game-image {
    width: 40px;
}

.p_game {
    position: absolute;
    font-size: 14px;
    top: 65px;
    color: #fefefe;
} 

.board-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}