.date-content {
    position: fixed;
    right: 0;
    bottom: 3px;
    height: 1.8rem;
    background: silver;
    border-right: 1.5px solid #fafafa;
    border-bottom: 1.5px solid #fafafa;
    border-top: 1.5px solid #5a5a5a;
    border-left: 1.5px solid #5a5a5a;
    margin-right: 20px;
}

.getdate {
    font-size: 14px;
    padding:  5px 7px 7px 7px;
}