.header-barre {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: row;
    height: 35px;
}


.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*** barre de navigation ***/

.navigations {
    display: flex;
    align-items: center;
}

.liens-navigation-home {
    display: flex;
    align-items: center;
    color: #010101;
    font-family: 'windowsregular';
    font-size: 16px;
    width: 85px;
    margin-left: 5px;
    box-shadow: 1.5px 1.5px #000;
    border-top: 1.5px solid #fafafa;
    border-left: 1.5px solid #fafafa;
    border-bottom: 1.5px solid #5a5a5a;
    border-right: 1.5px solid #5a5a5a;
    background: silver;
    font-weight: bold;
}
.icon-home {
    height: 15px;
    margin-left: 8px;
    margin-right: 5px;
}
.liens-navigation {
    display: flex;
    align-items: center;
    color: #010101;
    font-family: 'windowsregular';
    font-size: 12px;
    width: 110px;
    margin-left: 5px;
}

.icon {
    background-color: #c0c0c0;
    box-shadow: inset 1px 1px #fefefe, 1px 1px #010101;
    text-align: center;
    margin: 5px 5px 5px 5px;
    width: 180px;
}


/** Menu deroulant **/

.menu {
    display: none;
  }
  
.menu-open {
    display: block;
}


  .menu-bar {
    z-index: 9999;
    position: absolute;
    bottom: 37px;
    left: 0px;
    width: 165px;
    height: 180px;
    background: #000;
    background: #c3c3c3;
    overflow: hidden;
    border-top: 2px solid #fafafa;
    border-left: 2px solid #fafafa;
    border-right: 1.5px solid #5a5a5a;
    border-bottom: 1.5px solid #5a5a5a;
    box-shadow: 1.5px 1.5px #000;
    /* max-height: 100%;
    max-width: 100%; */
    align-items: flex-end;
    outline: 1px solid #dedede;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 12px;
}

.sidebar {
    width: 25px;
    background: #7b7d7b;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.sidebar-image {
    width: 100%;  
}

.sidebar-image .img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.socials {
    flex-grow: 1;
}

.a {
    color: #000;
    text-decoration: none;
}

.bar {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
    align-items: center;
}

.bar:hover {
    background-color: #000080;
}

.social-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 6px;
}

.social-text {
    font-size: 15px;
}

.u {
    text-decoration: underline;
}

.a:hover {
   background-color: #000080;
}

.hr {
    width: 100%;
    height: 1px;
    background: #000;
    border-bottom: 1px solid #fefefe;
}