.p_skills {
    position: absolute;
    font-size: 14px;
    top: 65px;
    white-space: nowrap;
    color: #fefefe;
}

.skills-image {
    width: 40px;
}
    .title-competences {
        height: 50px;
    }
    .domaines-block {
        height: 70px;
    }

.container-competences {
    display: flex;
}
    .competences-dev {
        height: 40%;
    }
    .title-comptences-dev, .title-comptences-design {
        height: 50px;
    }

.domaines-competences {
    width: 55%;
    margin-right: 20px;
}

.icons-block {
    display: flex;
    width: 100%;
}
    .icon-element {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-right: 15px;
    }

.icon-language {
    width: 25px;
}