/** 
Bleu foncé (couleur de fond de la barre des tâches) : #0A246A
Bleu clair (couleur de fond des fenêtres) : #EBF4FB
Blanc (couleur des titres de fenêtre et des boutons) : #FEFEFE
Gris (couleur des bordures et des séparateurs) : #C0C0C0
**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;900&display=swap');
.main {
    height: 100vh;
    width: auto;
    background-color: #008080;
}

.app-container {
    background-color: #008080;
    height: 100vh;
    width: 100vw;
}



/* Header pop-up*/
.modal_game {
    position: fixed;
    top: 12%;
    left: 12%;
    transform: "translate(-50%, -50%)";
    z-index: 1;
    background-color: white;
    width: 55%;
    height: 700px;
    background-color: #c0c0c0;
    box-shadow: inset 1px 1px #fefefe, 1px 1px #010101;
    border: 3px solid #C0C0C0;
}


.close-button {
    background: #c3c3c3;
    border-top: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #5a5a5a;
    border-bottom: 1px solid #5a5a5a;
    box-shadow: 1px 1px #000;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: 3px;
}
.modal-header{
    background-color: #00007c;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 10;
    margin: 2px;
    padding: 2px 2px 2px 2px
}

.windows-name {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0;
    font-size: 16px;
    margin: 0 0 0 3px;
}

.icon-modal-windows {
  width: 20px;
  margin-right: 10px;
}


.image_popup_header {
    width: 75%;
}


.icon_button_popup_header {
    width: 75%;
    height: 75%;
}

.modal-content {
    height: calc(100% - 35px); 
    overflow-y: scroll;
    overflow-x: hidden;
  }

/* icon design */

.design {
    top: 25%;
    position: static;
}

/*  icons */

.react-modal {
    position: absolute;
    z-index: 0;
    padding: 20px;
    margin-left: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Content */

.popup-content {
    margin: 30px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-image: url('/public/windows-95-cloud-background.png');
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.container-picture-windows{
  grid-column: 5 / 10;
  grid-row: 3 / 7;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-windows {
  min-width: 100%;
  height: auto;
}

.microsoft {
  grid-column: 4 / 7;
  grid-row: 6 / 8;
  height: auto;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  letter-spacing: 2px;
  padding-left: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

.title-windows {
  grid-column: 5 / 11;
  grid-row:  8 / 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  font-family: 'Noto Sans', sans-serif;
}

.name-title {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.barLoad { 
  grid-column: 1 / 13;
  grid-row:  13 / 13; 
  margin:0 auto;
  width: 100%;
  border: 1px solid white;
  background-color: white;
  height: 20px;
  padding:1px;
  position:relative;
  display: flex;
  justify-content: flex-end;
}

.version-loading {
  color: white;
}

.barLoad:before {
  content:''; 
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}

.barLoad .loadBar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:linear-gradient(-105deg, #009acc, #363795);; 
  width:0;
  animation:borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}